USE [AUTOMOBILE]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 06/01/2022 19:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CUSTOMERID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMERNAME] [varchar](60) NULL,
	[MOBILENO] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMERID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 06/01/2022 19:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[SUPPLIERID] [int] IDENTITY(1,1) NOT NULL,
	[COMNPANYNAME] [varchar](40) NULL,
	[SUPPLIERNAME] [varchar](60) NULL,
	[ADDRESS] [varchar](50) NULL,
	[GSTNO] [varchar](40) NULL,
	[CONTACTNUMBER] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SUPPLIERID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[product]    Script Date: 06/01/2022 19:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product](
	[productid] [int] IDENTITY(1,1) NOT NULL,
	[productname] [varchar](40) NULL,
	[company] [varchar](40) NULL,
	[price] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[productid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEWUSER]    Script Date: 06/01/2022 19:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEWUSER](
	[USERID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](20) NULL,
	[PASSWORD] [varchar](20) NULL,
	[CONFIRMPASSWORD] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CUSTOMERPAYMENTDETAILS]    Script Date: 06/01/2022 19:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMERPAYMENTDETAILS](
	[CUSTOMERPAYMENTDETAILID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMERID] [int] NULL,
	[PAIDAMOUNT] [money] NULL,
	[TOTALAMOUNT] [money] NULL,
	[PAYMENTTYPE] [varchar](20) NULL,
	[PAYMENTDATE] [date] NULL,
	[TRANSACTIONNO] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMERPAYMENTDETAILID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[customerpayment]    Script Date: 06/01/2022 19:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customerpayment](
	[customerpaymentid] [int] IDENTITY(1,1) NOT NULL,
	[customerid] [int] NULL,
	[totalamount] [money] NULL,
	[paidamount] [money] NULL,
	[remainingamt]  AS ([totalamount]-[paidamount]),
PRIMARY KEY CLUSTERED 
(
	[customerpaymentid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STOCK]    Script Date: 06/01/2022 19:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK](
	[STOCKID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCTID] [int] NULL,
	[QUANTITY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[STOCKID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERDETAILS]    Script Date: 06/01/2022 19:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERDETAILS](
	[USERDETAILID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NULL,
	[FULLNAME] [varchar](80) NULL,
	[MOBILENO] [varchar](20) NULL,
	[EMAILID] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERDETAILID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUPPLIERPAYMENTDETAIL]    Script Date: 06/01/2022 19:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUPPLIERPAYMENTDETAIL](
	[SUPPLIERPAYMENTDETAILID] [int] IDENTITY(1,1) NOT NULL,
	[SUPPLIERID] [int] NULL,
	[PAIDAMOUNT] [money] NULL,
	[PAYMENTTYPE] [varchar](15) NULL,
	[CHEQUENO] [varchar](30) NULL,
	[PAIDDATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[SUPPLIERPAYMENTDETAILID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUPPLIERPAYMENT]    Script Date: 06/01/2022 19:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIERPAYMENT](
	[SUPPLIERPAYMENTID] [int] IDENTITY(1,1) NOT NULL,
	[SUPPLIERID] [int] NULL,
	[TOTALAMOUNT] [money] NULL,
	[PAIDAMOUNT] [money] NULL,
	[REMAININGAMOUNT]  AS ([TOTALAMOUNT]-[PAIDAMOUNT]),
PRIMARY KEY CLUSTERED 
(
	[SUPPLIERPAYMENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[servicing]    Script Date: 06/01/2022 19:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[servicing](
	[servicingid] [int] IDENTITY(1,1) NOT NULL,
	[customerid] [int] NULL,
	[vehiclename_model] [varchar](30) NULL,
	[productid] [int] NULL,
	[rate] [money] NULL,
	[quantity] [int] NULL,
	[service_charge] [money] NULL,
	[servicing_date] [date] NULL,
	[totalamount] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[servicingid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PURCHASE]    Script Date: 06/01/2022 19:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PURCHASE](
	[PURCHASEID] [int] IDENTITY(1,1) NOT NULL,
	[SUPPLIERID] [int] NULL,
	[PRODUCTID] [int] NULL,
	[RATE] [money] NULL,
	[QUANTITY] [int] NULL,
	[TOTALAMOUNT] [money] NULL,
	[PAIDAMOUNT] [money] NULL,
	[PAYMENTTYPE] [varchar](20) NULL,
	[PURCHASEDATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PURCHASEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[VW_SUPPLIERWISEPAYMENTDETAILS]    Script Date: 06/01/2022 19:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view  [dbo].[VW_SUPPLIERWISEPAYMENTDETAILS]
 AS
  SELECT SPD.SUPPLIERPAYMENTDETAILID,S.SUPPLIERNAME,
SP.PAIDAMOUNT,SPD.PAYMENTTYPE,SPD.CHEQUENO,SPD.PAIDDATE
FROM SUPPLIER S,SUPPLIERPAYMENT SP, SUPPLIERPAYMENTDETAIL SPD 
WHERE S.SUPPLIERID=SP.SUPPLIERID AND SP.SUPPLIERID=SPD.SUPPLIERID
GO
/****** Object:  View [dbo].[VW_STOCK]    Script Date: 06/01/2022 19:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_STOCK]
AS
SELECT S.STOCKID,P.productid,P.productname,S.QUANTITY,P.price FROM STOCK S,product P
WHERE P.productid=S.PRODUCTID
GO
/****** Object:  View [dbo].[VW_PURCHASE]    Script Date: 06/01/2022 19:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view  [dbo].[VW_PURCHASE]
AS
SELECT PU.PURCHASEID,S.SUPPLIERNAME,P.PRODUCTNAME,PU.PAIDAMOUNT,PU.PAYMENTTYPE,PU.PURCHASEDATE 
FROM SUPPLIER S,PRODUCT P,PURCHASE PU 
WHERE S.SUPPLIERID=PU.SUPPLIERID AND P.PRODUCTID=PU.PRODUCTID
GO
/****** Object:  View [dbo].[VW_CUSTOMERWISESERVICING]    Script Date: 06/01/2022 19:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_CUSTOMERWISESERVICING]
AS
SELECT S.servicingid,C.CUSTOMERNAME,S.vehiclename_model,
S.totalamount,S.servicing_date
FROM CUSTOMER C,servicing S
WHERE C.CUSTOMERID=S.customerid
GO
/****** Object:  View [dbo].[VW_CUSTOMERDETAILS]    Script Date: 06/01/2022 19:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view  [dbo].[VW_CUSTOMERDETAILS] AS 
SELECT 
CPD.CUSTOMERPAYMENTDETAILID,C.CUSTOMERNAME,C.MOBILENO,CPD.PAIDAMOUNT,CPD.TOTALAMOUNT,CPD.PAYMENTTYPE,CPD.TRANSACTIONNO,CPD.PAYMENTDATE
FROM CUSTOMER C,CUSTOMERPAYMENTDETAILS CPD 
WHERE C.CUSTOMERID=CPD.CUSTOMERID
GO
/****** Object:  StoredProcedure [dbo].[SP_SUPPLIERPAYMENT]    Script Date: 06/01/2022 19:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SUPPLIERPAYMENT]
@SUPPLIERPAYMENTID INT=NULL,
@SUPPLIERID INT=NULL,
@PAIDAMOUNT MONEY=NULL,
@PAYMENTTYPE VARCHAR(15)=NULL,
@CHEQUENO VARCHAR(30)=NULL,
@PAIDDATE DATE=NULL,
@TOTALAMOUNT MONEY=NULL,
@ERRORMSG VARCHAR(1000)=NULL OUTPUT
AS
BEGIN TRY
BEGIN TRANSACTION


INSERT INTO SUPPLIERPAYMENTDETAIL(SUPPLIERID,PAIDAMOUNT,PAYMENTTYPE,CHEQUENO,PAIDDATE)
VALUES(@SUPPLIERID,@PAIDAMOUNT,@PAYMENTTYPE,@CHEQUENO,@PAIDDATE)



UPDATE SUPPLIERPAYMENT SET TOTALAMOUNT=@TOTALAMOUNT,PAIDAMOUNT=PAIDAMOUNT+@PAIDAMOUNT WHERE SUPPLIERID=@SUPPLIERID

END TRY
BEGIN CATCH
ROLLBACK TRANSACTION
SET @ERRORMSG=ERROR_MESSAGE()
RETURN -1
END CATCH
COMMIT
RETURN 1
GO
/****** Object:  StoredProcedure [dbo].[SP_SUPPLIER]    Script Date: 06/01/2022 19:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SUPPLIER]
@SUPPLIERID INT=NULL,
@COMNPANYNAME VARCHAR(40)=NULL,
@SUPPLIERNAME VARCHAR(50)=NULL,
@ADDRESS VARCHAR(50)=NULL,
@GSTNO VARCHAR(40)=NULL,
@CONTACTNUMBER VARCHAR(20)=NULL,
@SUPPLIERPAYMENTID INT=NULL,
@TOTALAMOUNT MONEY=NULL,
@PAYMENTTYPE VARCHAR(30)=NULL,
@PAIDDATE DATE=NULL,
@PAIDAMOUNT MONEY=NULL,
@ERRORMSG VARCHAR(1000)=NULL OUTPUT
AS
BEGIN TRY
BEGIN TRANSACTION


 INSERT INTO SUPPLIER(COMNPANYNAME,SUPPLIERNAME,ADDRESS,GSTNO,CONTACTNUMBER)
 VALUES(@COMNPANYNAME,@SUPPLIERNAME,@ADDRESS,@GSTNO,@CONTACTNUMBER)
 SET @SUPPLIERID=@@IDENTITY 
 
 INSERT INTO SUPPLIERPAYMENT(SUPPLIERID,TOTALAMOUNT,PAIDAMOUNT)
 VALUES(@SUPPLIERID,0,0)
 




UPDATE SUPPLIER SET  COMNPANYNAME=@COMNPANYNAME,SUPPLIERNAME=@SUPPLIERNAME,ADDRESS=@ADDRESS,GSTNO=@GSTNO,CONTACTNUMBER=@CONTACTNUMBER WHERE SUPPLIERID=@SUPPLIERID


END TRY
BEGIN CATCH
ROLLBACK TRANSACTION
 SET @ERRORMSG=ERROR_MESSAGE()
RETURN-1
END CATCH
COMMIT
RETURN 1
GO
/****** Object:  StoredProcedure [dbo].[SP_SERVICING]    Script Date: 06/01/2022 19:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SERVICING]
@SERVICING INT=NULL,
@CUSTOMERID INT=NULL,
@VEHICLENAME_MODEL VARCHAR(30)=NULL,
@PRODUCTID INT=NULL,
@RATE MONEY=NULL,
@QUANTITY INT=NULL,
@SERVICE_CHARGE MONEY=NULL,
@SERVICING_DATE DATE=NULL,
@TOTALAMOUNT MONEY=NULL,

@CUSTOMERPAYMENTID INT=NULL,
@PAIDAMOUNT MONEY=NULL,

@CUSTOMERPAYMENTDETAILID INT=NULL,
@PAYMENTTYPE VARCHAR(20)=NULL,
@TRANSACTIONNO VARCHAR(20)=NULL,
@PAYMENTDATE DATE=NULL,
@ERRORMSG VARCHAR(MAX)=NULL OUTPUT
AS
BEGIN TRY
BEGIN TRANSACTION

INSERT INTO SERVICING(CUSTOMERID,VEHICLENAME_MODEL,PRODUCTID,RATE,QUANTITY,SERVICE_CHARGE,SERVICING_DATE,TOTALAMOUNT)
VALUES(@CUSTOMERID,@VEHICLENAME_MODEL,@PRODUCTID,@RATE,@QUANTITY,@SERVICE_CHARGE,@SERVICING_DATE,@TOTALAMOUNT)

UPDATE CUSTOMERPAYMENT SET CUSTOMERID=@CUSTOMERID,TOTALAMOUNT=@TOTALAMOUNT,PAIDAMOUNT=@PAIDAMOUNT
WHERE CUSTOMERPAYMENTID=@CUSTOMERPAYMENTID

IF(@PAIDAMOUNT>0)
BEGIN 
INSERT INTO CUSTOMERPAYMENTDETAILS(CUSTOMERID,PAIDAMOUNT,PAYMENTTYPE,TRANSACTIONNO,PAYMENTDATE)
VALUES(@CUSTOMERID,@PAIDAMOUNT,@PAYMENTTYPE,@TRANSACTIONNO,@PAYMENTDATE)
END
end try	
begin catch
rollback transaction
set @errormsg=ERROR_MESSAGE()
return -1
end catch
commit
return 1
GO
/****** Object:  StoredProcedure [dbo].[SP_PURCHASE]    Script Date: 06/01/2022 19:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PURCHASE]
@PURCHASEID INT=NULL,
@SUPPLIERID INT=NULL,
@RATE MONEY=NULL,
@QUANTITY INT=NULL,
@TOTALAMOUNT MONEY=NULL,
@PAIDAMOUNT MONEY=NULL,
@PAYMENTTYPE VARCHAR(20)=NULL,
@PURCHASEDATE DATE=NULL,
@STOCKID INT=NULL,
@PRODUCTID INT=NULL,
@SUPPLIERPAYMENTDETAILID INT=NULL,
@TRANSACTIONNO VARCHAR(30)=NULL,
@PAIDDATE DATE=NULL,
@SUPPLIERPAYMENTID INT=NULL,
@ERRORMSG VARCHAR(MAX)=NULL OUTPUT

AS
BEGIN TRY
 BEGIN TRANSACTION
 IF @PURCHASEID IS NULL
 BEGIN
 INSERT INTO PURCHASE(SUPPLIERID,PRODUCTID,RATE,QUANTITY,TOTALAMOUNT,PAIDAMOUNT,PAYMENTTYPE,PURCHASEDATE)
 VALUES(@SUPPLIERID,@PRODUCTID,@RATE,@QUANTITY,@TOTALAMOUNT,@PAIDAMOUNT,@PAYMENTTYPE,@PURCHASEDATE)
 
 insert into STOCK(PRODUCTID,QUANTITY)values(@PRODUCTID,@QUANTITY)
 
 SET @PURCHASEID=@@IDENTITY

 IF(@PAIDAMOUNT>0)
 BEGIN
 INSERT INTO SUPPLIERPAYMENTDETAIL(SUPPLIERID,PAIDAMOUNT,PAYMENTTYPE,CHEQUENO,PAIDDATE)
 VALUES(@SUPPLIERID,@PAIDAMOUNT,@PAYMENTTYPE,@TRANSACTIONNO,@PAIDDATE)
END
 
 END
 
 
 ELSE
 BEGIN
 
 UPDATE SUPPLIERPAYMENT SET TOTALAMOUNT=TOTALAMOUNT+@TOTALAMOUNT,PAIDAMOUNT=PAIDAMOUNT+@PAIDAMOUNT WHERE SUPPLIERID=@SUPPLIERID

 END
 END TRY
 
 BEGIN CATCH
 
 ROLLBACK TRANSACTION
 
 SET @ERRORMSG=ERROR_MESSAGE()
 RETURN-1
 END CATCH
 COMMIT 
 RETURN 1
GO
/****** Object:  StoredProcedure [dbo].[SP_PRODUCTSTOCK]    Script Date: 06/01/2022 19:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PRODUCTSTOCK]
@PRODUCTID INT=NULL,
@PRODUCTNAME VARCHAR(40)=NULL,
@COMPANY VARCHAR(40)=NULL,
@PRICE MONEY=NULL,
@STOCKID INT=NULL,
@QUANTITY INT=NULL,
@ERRORMSG VARCHAR(MAX)=NULL OUTPUT
AS
BEGIN TRY
BEGIN TRANSACTION
if @PRODUCTID is null
INSERT INTO product(productname,company,price)
VALUES(@PRODUCTNAME,@COMPANY,@PRICE)
SET @PRODUCTID=@@IDENTITY
INSERT INTO STOCK(PRODUCTID,QUANTITY)
VALUES(@PRODUCTID,@QUANTITY)

end try
begin catch
rollback transaction
set @errormsg=ERROR_MESSAGE()
return -1
end catch
commit
return 1
GO
/****** Object:  StoredProcedure [dbo].[SP_NEWUSER]    Script Date: 06/01/2022 19:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NEWUSER]
@USERID INT=NULL,
@USERNAME VARCHAR(65)=NULL,
@PASSWORD VARCHAR(50)=NULL,
@FULLNAME VARCHAR(80)=NULL,
@CONFIRMPASSWORD VARCHAR(50)=NULL,
@USERDETAILID INT=NULL,
@MOBILENO VARCHAR(20)=NULL,
@EMAILID VARCHAR(40)=NULL,

@ERRORMSG VARCHAR(MAX)=NULL OUTPUT

AS

BEGIN TRY 
BEGIN TRANSACTION
BEGIN
INSERT INTO NEWUSER(USERNAME,PASSWORD,CONFIRMPASSWORD)
VALUES(@USERNAME,@PASSWORD,@CONFIRMPASSWORD)
set @USERID=@@identity
INSERT INTO USERDETAILS(USERID,FULLNAME,MOBILENO,EMAILID)
VALUES(@USERID,@FULLNAME,@MOBILENO,@EMAILID)

END
END TRY
BEGIN CATCH
ROLLBACK TRANSACTION
SET @ERRORMSG=ERROR_MESSAGE()
RETURN -1
END CATCH 
COMMIT
RETURN 1
GO
/****** Object:  StoredProcedure [dbo].[SP_CUSTOMERPAYMENT]    Script Date: 06/01/2022 19:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CUSTOMERPAYMENT]
@CUSTOMERPAYMENTID INT=NULL,
@CUSTOMERID INT=NULL,
@TOTALAMOUNT MONEY=NULL,
@PAIDAMOUNT MONEY=NULL,
@PAYMENTTYPE VARCHAR(20)=NULL,
@TRANSACTIONNO VARCHAR(20)=NULL,
@PAYMENTDATE DATE=NULL,
@ERRORMSG VARCHAR(MAX)=NULL OUTPUT
AS
BEGIN TRY
BEGIN TRANSACTION 
begin
INSERT INTO customerpayment(customerid,totalamount,paidamount)
VALUES(@CUSTOMERID,0,0)
end

INSERT INTO CUSTOMERPAYMENTDETAILS(CUSTOMERID,PAIDAMOUNT,TOTALAMOUNT,PAYMENTTYPE,PAYMENTDATE,TRANSACTIONNO)
VALUES(@CUSTOMERID,@PAIDAMOUNT,@TOTALAMOUNT,@PAYMENTTYPE,@PAYMENTDATE,@TRANSACTIONNO)

UPDATE CUSTOMERPAYMENT SET customerid=@CUSTOMERID,totalamount=@TOTALAMOUNT,paidamount=PAIDAMOUNT+@PAIDAMOUNT
WHERE CUSTOMERID=@CUSTOMERID

end try	
begin catch
rollback transaction
set @errormsg=ERROR_MESSAGE()
return -1
end catch
commit
return 1
GO
/****** Object:  StoredProcedure [dbo].[SP_CUSTOMER]    Script Date: 06/01/2022 19:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CUSTOMER]
@CUSTOMERID INT=NULL,
@CUSTOMERNAME VARCHAR(60)=NULL,
@MOBILE VARCHAR(15)=NULL,
@CUSTOMERPAYMENTDETAILID INT=NULL,
@PAIDAMOUNT MONEY=NULL,
@TOTALAMOUNT MONEY=NULL,
@remainingamt money=null,
@PAYMENTTYPE VARCHAR(20)=NULL,
@CHEQUENO VARCHAR(30)=NULL,
@PAYMENTDATE DATE=NULL,
@PRODUCTID INT=NULL,
@QUANTITY INT=NULL,

@ERRORMSG VARCHAR(max)=NULL OUTPUT
AS
BEGIN TRY
BEGIN TRANSACTION
IF @CUSTOMERID IS NULL



BEGIN
INSERT INTO CUSTOMER(CUSTOMERNAME,MOBILENO)
VALUES(@CUSTOMERNAME,@MOBILE)
SET @CUSTOMERID=@@IDENTITY
END
ELSE
BEGIN
UPDATE STOCK SET  QUANTITY=QUANTITY-@QUANTITY  WHERE  PRODUCTID=@PRODUCTID
END

END TRY
BEGIN CATCH
ROLLBACK TRANSACTION

SET @ERRORMSG=ERROR_MESSAGE()
 RETURN -1
 END CATCH
 COMMIT
 RETURN 1
GO
/****** Object:  ForeignKey [FK__customerp__custo__6383C8BA]    Script Date: 06/01/2022 19:30:02 ******/
ALTER TABLE [dbo].[customerpayment]  WITH CHECK ADD FOREIGN KEY([customerid])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMERID])
GO
/****** Object:  ForeignKey [FK__CUSTOMERP__CUSTO__24927208]    Script Date: 06/01/2022 19:30:02 ******/
ALTER TABLE [dbo].[CUSTOMERPAYMENTDETAILS]  WITH CHECK ADD FOREIGN KEY([CUSTOMERID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMERID])
GO
/****** Object:  ForeignKey [FK__CUSTOMERP__CUSTO__45F365D3]    Script Date: 06/01/2022 19:30:02 ******/
ALTER TABLE [dbo].[CUSTOMERPAYMENTDETAILS]  WITH CHECK ADD FOREIGN KEY([CUSTOMERID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMERID])
GO
/****** Object:  ForeignKey [FK__PURCHASE__SUPPLI__267ABA7A]    Script Date: 06/01/2022 19:30:02 ******/
ALTER TABLE [dbo].[PURCHASE]  WITH CHECK ADD FOREIGN KEY([SUPPLIERID])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIERID])
GO
/****** Object:  ForeignKey [FK__PURCHASE__SUPPLI__47DBAE45]    Script Date: 06/01/2022 19:30:02 ******/
ALTER TABLE [dbo].[PURCHASE]  WITH CHECK ADD FOREIGN KEY([SUPPLIERID])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIERID])
GO
/****** Object:  ForeignKey [FK__servicing__custo__5AEE82B9]    Script Date: 06/01/2022 19:30:02 ******/
ALTER TABLE [dbo].[servicing]  WITH CHECK ADD FOREIGN KEY([customerid])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMERID])
GO
/****** Object:  ForeignKey [FK__servicing__produ__5BE2A6F2]    Script Date: 06/01/2022 19:30:02 ******/
ALTER TABLE [dbo].[servicing]  WITH CHECK ADD FOREIGN KEY([productid])
REFERENCES [dbo].[product] ([productid])
GO
/****** Object:  ForeignKey [FK__STOCK__PRODUCTID__72C60C4A]    Script Date: 06/01/2022 19:30:02 ******/
ALTER TABLE [dbo].[STOCK]  WITH CHECK ADD FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[product] ([productid])
GO
/****** Object:  ForeignKey [FK__SUPPLIERP__SUPPL__286302EC]    Script Date: 06/01/2022 19:30:02 ******/
ALTER TABLE [dbo].[SUPPLIERPAYMENT]  WITH CHECK ADD FOREIGN KEY([SUPPLIERID])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIERID])
GO
/****** Object:  ForeignKey [FK__SUPPLIERP__SUPPL__49C3F6B7]    Script Date: 06/01/2022 19:30:02 ******/
ALTER TABLE [dbo].[SUPPLIERPAYMENT]  WITH CHECK ADD FOREIGN KEY([SUPPLIERID])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIERID])
GO
/****** Object:  ForeignKey [FK__SUPPLIERP__SUPPL__29572725]    Script Date: 06/01/2022 19:30:02 ******/
ALTER TABLE [dbo].[SUPPLIERPAYMENTDETAIL]  WITH CHECK ADD FOREIGN KEY([SUPPLIERID])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIERID])
GO
/****** Object:  ForeignKey [FK__SUPPLIERP__SUPPL__4AB81AF0]    Script Date: 06/01/2022 19:30:02 ******/
ALTER TABLE [dbo].[SUPPLIERPAYMENTDETAIL]  WITH CHECK ADD FOREIGN KEY([SUPPLIERID])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIERID])
GO
/****** Object:  ForeignKey [FK__USERDETAI__USERI__2A4B4B5E]    Script Date: 06/01/2022 19:30:02 ******/
ALTER TABLE [dbo].[USERDETAILS]  WITH CHECK ADD FOREIGN KEY([USERID])
REFERENCES [dbo].[NEWUSER] ([USERID])
GO
/****** Object:  ForeignKey [FK__USERDETAI__USERI__4BAC3F29]    Script Date: 06/01/2022 19:30:02 ******/
ALTER TABLE [dbo].[USERDETAILS]  WITH CHECK ADD FOREIGN KEY([USERID])
REFERENCES [dbo].[NEWUSER] ([USERID])
GO
